<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Table</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
{% raw %}
    <div id="app">
        <ul class="list">
            <li v-for="(group, groupName) in data" :key="groupName" class="group" @click="toggleGroup(groupName)">
                {{ groupName }}
                <ul v-if="groupVisible[groupName]">
                    <li v-for="(person, personName) in group" :key="personName" class="item">
                        {{ personName }}
                        <ul v-if="personVisible[personName]">
                            <li v-for="(dates, date) in person" :key="date" class="item">
                                {{ date }}
                                <ul>
                                    <li v-for="(timeInfo, time) in dates" :key="time" class="item">
                                        {{ time }}: {{ timeInfo }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endraw %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
